.perdeu {
    font-size: 100px;
    position: relative;
    text-align: center;
    color: rgb(167, 14, 14);
    top: 100px;
}

body {
    background-image: url(../imagensVenom/venom6);
    background-repeat: no-repeat;
    background-size: cover;
}

.fracassou {
    position: relative;
    left: 560px;
    top: 27px;
    background-color: black;
    color: rgb(255, 255, 255);
}

.fracassou:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}