* {
    margin: 0;

    box-sizing: border-box;
}

li {
    top: 23px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
    color: rgb(251, 255, 0);
}

body {
    width: 60%;
    height: 100%;
    background-image: url(../imagensOjusticeiro/caveira2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.Pergunta1 {
    font-size: 50px;
    position: relative;
    left: 490px;
    color: rgb(255, 0, 0);
}

.enunciado1 {
    position: relative;
    top: 25px;
    color: rgb(255, 0, 0);
    font-size: 50px;


}

.responder {
    position: relative;
    left: 270px;
    background-color: yellow;
    color: black;
}

.responder:hover {
    background-color: black;
    color: yellow;
}

.icones {
    cursor: pointer;
    width: 25%;
    height: 0em;
    left: 1em;
    top: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.home{
    height: 5em;
    bottom: 9px;
    position: relative;
}
.back{
    height: 4em;
}