* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Sinopse {
    position: relative;
    text-align: center;
    top: 25px;
    color: rgb(255, 0, 0);
    font-family: 'Montserrat', sans-serif;
}

.venom {
    font-size: 75px;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(../imagensVenom/venom1);
    background-size: cover;
    background-repeat: no-repeat;
}

.avançarGame {
    background-color: rgb(255, 255, 255);
    color: black;
    position: relative;
    left: 627px;
    top: 40px;
    border-radius: 10px;
}

.avançarGame:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}